body{cursor:defaulte; margin:0; padding:0;width:100%; height:100%;}

/** public style settings, all the items could be override in the special theme style settings. **/
#layout {font-size:12px; font-family: "Lucida Grande", "Verdana", "新宋体";margin:0px;padding:0px;right:0px;left:0px;position:absolute;bottom:0px;top:0px;}

/** 默认的蓝色主题 **/
#layout.default-theme {background-color: #fff;}	
#layout.red-theme {color:#efefef;background-color: #444;}	
#layout.grey-theme {color:#222;background-color: #efefef;}	
#layout.colorful-theme {color:#222;background-color: #58e864;}	
#layout.blue-theme {color:#0e4f6f;background-color: #b5e5fc;}	
